http://bo.mirror.garr.it/mirrors/CentOS/##REL##/##REPO##/x86_64/
http://ba.mirror.garr.it/mirrors/CentOS/##REL##/##REPO##/x86_64/
http://ct.mirror.garr.it/mirrors/CentOS/##REL##/##REPO##/x86_64/
http://mi.mirror.garr.it/mirrors/CentOS/##REL##/##REPO##/x86_64/
http://linuxsoft.cern.ch/centos/##REL##/##REPO##/x86_64/
